---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                <table>
                    <td><img src="{{ site.logo }}" class="img-circle zoombtn"></td>
                    <td><p>
                        <h3 class="title" style="font-size:2rem;font-weight:100;color:#686868">
                            Rinde R.S. <b style="font-weight:700;color:#333333">van Lon</b> PhD
                        </h3>
                        <h4 class="title" style="font-size:1rem;font-weight:300;color:#30AD63;font:'Source Sans Pro';font-variant: small-caps">
                            {{ site.bio }}
                        </h4>
                        <p/><p/>
                        {% include social-links.html %}
                    </p></td>
                </table>
                   <!--  <hr class="hr-line">
                    <p/> -->
                    
                  <!-- <hr class="hr-line"> -->
                 <!--  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/software">
                         Software
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/science">
                         Science
                         </a>
                 </h3> -->
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
